absl-py
altair
anyio
asttokens
astunparse
attrs
backcall
beautifulsoup4
blinker
blis
cachetools
catalogue
certifi
charset-normalizer
click
confection
contourpy
cycler
cymem
DAWG-Python
decorator
docopt
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.5.0/en_core_web_sm-3.5.0-py3-none-any.whl
entrypoints
executing
fastapi
filelock
flatbuffers
fonttools
gast
gitdb
GitPython
google-api-core
google-auth
google-auth-oauthlib
google-cloud-core
google-cloud-translate
google-pasta
googleapis-common-protos
grpcio
grpcio-status
h11
h5py
hatesonar
huggingface-hub
idna
importlib-metadata
ipython
jedi
Jinja2
joblib
jsonschema
keras
kiwisolver
langcodes
libclang
lxml
Markdown
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mdurl
mk-core-news-sm @ https://github.com/explosion/spacy-models/releases/download/mk_core_news_sm-3.5.0/mk_core_news_sm-3.5.0-py3-none-any.whl
murmurhash
navec
nltk
numpy
nvidia-cublas-cu11
nvidia-cuda-nvrtc-cu11
nvidia-cuda-runtime-cu11
nvidia-cudnn-cu11
oauthlib
opt-einsum
packaging
pandas
parso
pathy
pexpect
pickle-mixin
pickleshare
Pillow
preshed
prompt-toolkit
proto-plus
protobuf
ptyprocess
pure-eval
pyarrow
pyasn1
pyasn1-modules
pydantic
pydeck
Pygments
pymorphy2
pymorphy2-dicts-ru
Pympler
pyparsing
pyrsistent
PySocks
python-dateutil
pytz
pytz-deprecation-shim
PyYAML
regex
requests
requests-oauthlib
rich
rsa
scikit-learn
scipy
seaborn
semver
six
smart-open
smmap
sniffio
snscrape
soupsieve
spacy
spacy-legacy
spacy-loggers
srsly
stack-data
starlette
streamlit
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
tensorflow
tensorflow-estimator
tensorflow-io-gcs-filesystem
termcolor
thinc
threadpoolctl
tokenizers
toml
toolz
torch
tornado
toxicity
tqdm
traitlets
transformers
typer
typing_extensions
tzdata
tzlocal
urllib3
uvicorn
validators
wasabi
watchdog
wcwidth
Werkzeug
wordcloud
wrapt
zipp
